# Week 02

## Citing open-source / found code

Sometimes the citation will be part of the code. Whenever you use the `import` command, I'll know the code is coming form somewhere else and it's easy to figure out where.

In [1]:
import matplotlib.pyplot as plt
import numpy as np

plt.plot(np.sin(np.arange(0, 4 * np.pi, .1)))
plt.plot(np.cos(np.arange(0, 4 * np.pi, .1)), c='r')
plt.show()

ModuleNotFoundError: No module named 'matplotlib'

Other times the citation will have to be a little more explicit.

A link to the original code, repo, or stackoverflow answer is enough.

In [ ]:
import cv2
from scipy import fftpack
from imagehash import ImageHash

# Function for computing the perceptual hash of an image
# Based on code from the vframe project:
#   https://github.com/vframeio/vframe/blob/master/src/vframe/utils/im_utils.py#L37-L48
# which is based on code from the imagehash library:
#   https://github.com/JohannesBuchner/imagehash/blob/master/imagehash.py#L197

def phash(im, hash_size=8, highfreq_factor=4):
  wh = hash_size * highfreq_factor
  im = cv2.resize(im, (wh, wh), interpolation=cv2.INTER_NEAREST)
  if len(im.shape) > 2 and im.shape[2] > 1:
    im = cv2.cvtColor(im, cv2.COLOR_BGR2GRAY)
  mdct = fftpack.dct(fftpack.dct(im, axis=0), axis=1)
  dctlowfreq = mdct[:hash_size, :hash_size]
  med = np.median(dctlowfreq)
  diff = dctlowfreq > med
  return ImageHash(diff)

Ok, back to Week 02

## Setup

Let's import some helper functions and libraries

In [1]:
import random

## Ranges

<img src="./imgs/range.jpg" width="500px" />

Range of integers between 0 and 10:

In [2]:
range(0, 10)

# TODO: take a look at the range values
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Range of integers between 0 and 100 skipping by 10s:

In [3]:
range(0, 100, 10)

# TODO: take a look at the range values
list(range(0, 100, 10))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

## Lists
### Creating lists from sequences of numbers
#### Create a list with all the numbers between 0 and 1000 that end in 91

In [8]:
list_x91 = []

# TODO: for loop
for i in range(91,1000,100):
    list_x91.append(i)
print(list_x91)

# TODO: comprehension
list_x91 = [i for i in range(91,1000,100)]
print(list_x91)

# TODO: casting
list_x91 = list(range(91,1000,100))
list_x91

[91, 191, 291, 391, 491, 591, 691, 791, 891, 991]
[91, 191, 291, 391, 491, 591, 691, 791, 891, 991]

[91, 191, 291, 391, 491, 591, 691, 791, 891, 991]

### List indexing

Indexing from the front is normal:

In [9]:
list_x91, list_x91[0], list_x91[2], list_x91[8]

([91, 191, 291, 391, 491, 591, 691, 791, 891, 991], 91, 291, 891)

But, Python also lets us index from the back with negative numbers:

In [10]:
list_x91[-1], list_x91[-2], list_x91[-8]

(991, 891, 291)

### Create a list with 100 number 2's

In [31]:
list_100_2 = []
# TODO
list_100_2 = [2] * 100
list_100_2

[2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2]

### Create list of numbers between 0 and 100 that are divisible by 7:

In [11]:
# TODO: probably easier using comprehension
list_100_7 = [i for i in range(0,101) if i % 7 == 0 ]
list_100_7

[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

### List functions

Members of each `list` object.

<img src="./imgs/lists00.jpg" width="500px" />

### Create a list of 10 random numbers between 0 and 100

In [25]:
list_of_randoms = []

# TODO: with for loop and append
for i in range(10):
    list_of_randoms.append(random.randint(0,100))
list_of_randoms

[48, 72, 33, 13, 33, 15, 45, 91, 85, 86]

### Print the numbers and their index

In [30]:
# TODO: with len
for i in range(len(list_of_randoms)):
    print(i,list_of_randoms[i])

# TODO: with enumerate
for i,j in enumerate(list_of_randoms):
    print(i,j)

0 48
1 72
2 33
3 13
4 33
5 15
6 45
7 91
8 85
9 86
0 48
1 72
2 33
3 13
4 33
5 15
6 45
7 91
8 85
9 86

### Create a list of 100 random numbers between 0 and 1000

In [5]:
# TODO: with for loop
list_of_randoms = []
for i in range(100):
    list_of_randoms.append(random.randint(0,1000))
list_of_randoms

# TODO: with comprehension
list_of_randoms_c = [random.randint(0, 1000) for _ in range(100)]  
list_of_randoms_c

[62,
 675,
 263,
 25,
 79,
 452,
 863,
 365,
 817,
 64,
 349,
 647,
 381,
 488,
 136,
 677,
 578,
 396,
 502,
 842,
 551,
 446,
 174,
 159,
 769,
 993,
 149,
 586,
 760,
 286,
 987,
 446,
 109,
 431,
 595,
 180,
 888,
 498,
 832,
 293,
 258,
 484,
 570,
 703,
 166,
 135,
 266,
 498,
 210,
 532,
 800,
 536,
 50,
 743,
 880,
 134,
 772,
 320,
 89,
 97,
 904,
 543,
 965,
 701,
 616,
 199,
 272,
 4,
 683,
 395,
 433,
 777,
 717,
 305,
 834,
 932,
 246,
 565,
 968,
 745,
 906,
 659,
 148,
 191,
 70,
 130,
 716,
 351,
 533,
 121,
 924,
 902,
 979,
 719,
 888,
 241,
 46,
 916,
 662,
 829]

### Create a list with random length

A list of random length, with random numbers between 0 and 1000.

In [3]:
num_elements = random.randint(1,100) # TODO: random len
list_of_randoms = []

# TODO: list
list_of_randoms = [random.randint(0, 1000) for _ in range(num_elements)] 
len(list_of_randoms)

16

### Addition

Besides the `append()` function we can also add elements to a list by using the `+` operator to *concatenate* two lists.

And just like addition on numbers we have to assign the result to a variable in order to use it later:

In [6]:
big_list_of_randoms = list_of_randoms + list_of_randoms_c

# Or, with the +=
list_of_randoms += list_of_randoms_c

### Find the largest element on a list

Go through all of the elements and compare each element to the largest number seen so far.

Update the `largest` variable if we encounter a larger number.

In [7]:
largest = list_of_randoms[0]

# TODO: find max
for i in range(len(list_of_randoms)):
    if list_of_randoms[i] > largest:
        largest = list_of_randoms[i]
largest

993

### Find the smallest element on a list

Go through all of the elements and compare each element to the smallest number seen so far.

Update the `smallest` variable if we encounter a smaller number.

In [8]:
smallest = list_of_randoms[0]

# TODO: find min
for i in range(len(list_of_randoms)):
    if list_of_randoms[i] < smallest:
        smallest = list_of_randoms[i]
smallest

0

### Find the sum of all elements on a list

Go through all of the elements and add their values to an accumulator variable.

In [9]:
my_sum = 0

# TODO: find sum
for i in list_of_randoms:
    my_sum += i
my_sum

104216

### Python has built in functions for doing these things

In [10]:
print(min(list_of_randoms), max(list_of_randoms), sum(list_of_randoms))

0 993 104216

### Find the 5 largest and 5 smallest numbers on a list

# ðŸ¤”

### Python has a function for sorting a list that could help

In [11]:
my_sorted_list = sorted(list_of_randoms)

print(list_of_randoms)
print(my_sorted_list)

[885, 899, 847, 781, 752, 577, 265, 327, 768, 211, 623, 274, 635, 860, 501, 732, 413, 942, 365, 323, 975, 766, 691, 867, 88, 654, 954, 812, 719, 751, 794, 637, 835, 700, 512, 196, 146, 801, 325, 905, 880, 92, 618, 828, 251, 749, 170, 325, 807, 82, 884, 445, 0, 350, 364, 120, 756, 302, 729, 243, 626, 238, 306, 901, 481, 149, 198, 119, 701, 852, 815, 409, 666, 525, 830, 368, 820, 132, 610, 593, 190, 214, 992, 547, 337, 605, 363, 422, 619, 198, 988, 118, 682, 257, 72, 591, 794, 952, 580, 482, 62, 675, 263, 25, 79, 452, 863, 365, 817, 64, 349, 647, 381, 488, 136, 677, 578, 396, 502, 842, 551, 446, 174, 159, 769, 993, 149, 586, 760, 286, 987, 446, 109, 431, 595, 180, 888, 498, 832, 293, 258, 484, 570, 703, 166, 135, 266, 498, 210, 532, 800, 536, 50, 743, 880, 134, 772, 320, 89, 97, 904, 543, 965, 701, 616, 199, 272, 4, 683, 395, 433, 777, 717, 305, 834, 932, 246, 565, 968, 745, 906, 659, 148, 191, 70, 130, 716, 351, 533, 121, 924, 902, 979, 719, 888, 241, 46, 916, 662, 829]
[0, 4, 25, 46, 50, 62, 64, 70, 72, 79, 82, 88, 89, 92, 97, 109, 118, 119, 120, 121, 130, 132, 134, 135, 136, 146, 148, 149, 149, 159, 166, 170, 174, 180, 190, 191, 196, 198, 198, 199, 210, 211, 214, 238, 241, 243, 246, 251, 257, 258, 263, 265, 266, 272, 274, 286, 293, 302, 305, 306, 320, 323, 325, 325, 327, 337, 349, 350, 351, 363, 364, 365, 365, 368, 381, 395, 396, 409, 413, 422, 431, 433, 445, 446, 446, 452, 481, 482, 484, 488, 498, 498, 501, 502, 512, 525, 532, 533, 536, 543, 547, 551, 565, 570, 577, 578, 580, 586, 591, 593, 595, 605, 610, 616, 618, 619, 623, 626, 635, 637, 647, 654, 659, 662, 666, 675, 677, 682, 683, 691, 700, 701, 701, 703, 716, 717, 719, 719, 729, 732, 743, 745, 749, 751, 752, 756, 760, 766, 768, 769, 772, 777, 781, 794, 794, 800, 801, 807, 812, 815, 817, 820, 828, 829, 830, 832, 834, 835, 842, 847, 852, 860, 863, 867, 880, 880, 884, 885, 888, 888, 899, 901, 902, 904, 905, 906, 916, 924, 932, 942, 952, 954, 965, 968, 975, 979, 987, 988, 992, 993]

### Functions on lists

These are functions that Python gives us to work on lists.

There are functions for sorting, reversing and getting the length of a `list`:

<img src="./imgs/lists01.jpg" width="600px" />

#### Reverse sorting:

In [12]:
my_reversed_sorted_list = [] # TODO

print(list_of_randoms)
print(my_sorted_list)
print(my_reversed_sorted_list)

[885, 899, 847, 781, 752, 577, 265, 327, 768, 211, 623, 274, 635, 860, 501, 732, 413, 942, 365, 323, 975, 766, 691, 867, 88, 654, 954, 812, 719, 751, 794, 637, 835, 700, 512, 196, 146, 801, 325, 905, 880, 92, 618, 828, 251, 749, 170, 325, 807, 82, 884, 445, 0, 350, 364, 120, 756, 302, 729, 243, 626, 238, 306, 901, 481, 149, 198, 119, 701, 852, 815, 409, 666, 525, 830, 368, 820, 132, 610, 593, 190, 214, 992, 547, 337, 605, 363, 422, 619, 198, 988, 118, 682, 257, 72, 591, 794, 952, 580, 482, 62, 675, 263, 25, 79, 452, 863, 365, 817, 64, 349, 647, 381, 488, 136, 677, 578, 396, 502, 842, 551, 446, 174, 159, 769, 993, 149, 586, 760, 286, 987, 446, 109, 431, 595, 180, 888, 498, 832, 293, 258, 484, 570, 703, 166, 135, 266, 498, 210, 532, 800, 536, 50, 743, 880, 134, 772, 320, 89, 97, 904, 543, 965, 701, 616, 199, 272, 4, 683, 395, 433, 777, 717, 305, 834, 932, 246, 565, 968, 745, 906, 659, 148, 191, 70, 130, 716, 351, 533, 121, 924, 902, 979, 719, 888, 241, 46, 916, 662, 829]
[0, 4, 25, 46, 50, 62, 64, 70, 72, 79, 82, 88, 89, 92, 97, 109, 118, 119, 120, 121, 130, 132, 134, 135, 136, 146, 148, 149, 149, 159, 166, 170, 174, 180, 190, 191, 196, 198, 198, 199, 210, 211, 214, 238, 241, 243, 246, 251, 257, 258, 263, 265, 266, 272, 274, 286, 293, 302, 305, 306, 320, 323, 325, 325, 327, 337, 349, 350, 351, 363, 364, 365, 365, 368, 381, 395, 396, 409, 413, 422, 431, 433, 445, 446, 446, 452, 481, 482, 484, 488, 498, 498, 501, 502, 512, 525, 532, 533, 536, 543, 547, 551, 565, 570, 577, 578, 580, 586, 591, 593, 595, 605, 610, 616, 618, 619, 623, 626, 635, 637, 647, 654, 659, 662, 666, 675, 677, 682, 683, 691, 700, 701, 701, 703, 716, 717, 719, 719, 729, 732, 743, 745, 749, 751, 752, 756, 760, 766, 768, 769, 772, 777, 781, 794, 794, 800, 801, 807, 812, 815, 817, 820, 828, 829, 830, 832, 834, 835, 842, 847, 852, 860, 863, 867, 880, 880, 884, 885, 888, 888, 899, 901, 902, 904, 905, 906, 916, 924, 932, 942, 952, 954, 965, 968, 975, 979, 987, 988, 992, 993]
[]

### With a sorted list we can more easily print the 5 smallest and 5 largest elements

In [13]:
print(my_sorted_list[ :5], my_sorted_list[-5: ])

[0, 4, 25, 46, 50] [979, 987, 988, 992, 993]

### :W:T:F:?:

### Slicing

Python has a built-in mechanism for getting sub-sections of a list called *slicing*.

Instead of a single index, we specify two values in the square bracket, separated by a `:`, to specify where our slice starts and ends:

<img src="./imgs/slicing.jpg" width="700px" />

One **VERY** important thing to remember is that the second index in the bracket is **NOT** included in the slice.

In [14]:
my_list = [random.randint(0, 12) for i in range(0, 20)]
my_list, my_list[0 : 5]

([0, 10, 12, 10, 8, 5, 8, 1, 8, 7, 9, 6, 12, 4, 9, 9, 6, 0, 0, 11],
 [0, 10, 12, 10, 8])

As another example:  
`my_list[4 : 10]` would be used to access $6$ elements starting at position $4$, so ...
<br>elements $4$ - $9$ on the list. The second index in the slice, $10$, is not included.

In [15]:
my_list[4 : 10]

[8, 5, 8, 1, 8, 7]

And, Python being Python, it tries to be smart and keep us from unnecessary typing:
- if the first index is blank, the slice will start at the first element 
- if the second index is blank, the slice will go until the end of the list

In [16]:
my_list, my_list[0 : 5], my_list[ :5]

([0, 10, 12, 10, 8, 5, 8, 1, 8, 7, 9, 6, 12, 4, 9, 9, 6, 0, 0, 11],
 [0, 10, 12, 10, 8],
 [0, 10, 12, 10, 8])

In [17]:
my_list[15 : 20], my_list[15: ]

([9, 6, 0, 0, 11], [9, 6, 0, 0, 11])

We can use negative indexes to slice from the back:

`a_list[-5 : len(a_list)]` would grab the last 5 elements from the list `my_list`,
<br>but this can be simplified with `a_list[-5: ]`.

In [18]:
my_list[-5 : len(my_list)], my_list[-5: ]

([9, 6, 0, 0, 11], [9, 6, 0, 0, 11])

### How would we get the 5 items in the center?

In [45]:
center_index = 0 # TODO
center_5 = [] # TODO: center items
center_5

[]

### This should make more sense now:

In [57]:
my_sorted_list[ :5], my_sorted_list[-5: ]

([1, 16, 51, 54, 56], [903, 946, 958, 961, 975])

## Objects

### Creating objects

In [42]:
my_info = {
  "name": "thiago",
  "id": 8114,
  "zip": 11001,
  "grades": [90, 80, 60],
  "attendance": [True, True, False, True, True],
  "final grade": "A"
}
my_info

{'name': 'thiago',
 'id': 8114,
 'zip': 11001,
 'grades': [90, 80, 60],
 'attendance': [True, True, False, True, True],
 'final grade': 'A'}

### Accessing values at specific keys

In [43]:
my_info["name"], my_info["grades"]

('thiago', [90, 80, 60])

### Modifying and Adding values

In [48]:
my_info["zip"] = 11202
my_info["course"] = 9103
my_info["section"] = "H"
my_info

{'name': 'thiago',
 'id': 8114,
 'zip': 11202,
 'grades': [90, 80, 60],
 'attendance': [True, True, False, True, True],
 'final grade': 'A',
 'course': 9103,
 'section': 'H'}

### Iterating over keys, values and items

<img src="./imgs/objects.jpg" width="500px" />

In [50]:
# TODO use my_info.keys(), .values() and .items() to print object
for k,v in my_info.items():
    print(k,v)

name thiago
id 8114
zip 11202
grades [90, 80, 60]
attendance [True, True, False, True, True]
final grade A
course 9103
section H

## List of objects

### Create a list of 10 objects with random heights and brooklyn zip codes.

```python
my_data = [
  {"height": [60, 70], "zip": [11200, 11250]},
  {"height": [60, 70], "zip": [11200, 11250]},
  {"height": [60, 70], "zip": [11200, 11250]},
  ...
]
```

In [51]:
my_data = []
# TODO: create list of random objects
for cnt in range(10):
    obj = {
        "height": random.randint(60,70),
        "zip": random.randint(11200,11250)
    }
    my_data.append(obj)
my_data

[{'height': 67, 'zip': 11231},
 {'height': 68, 'zip': 11220},
 {'height': 61, 'zip': 11222},
 {'height': 67, 'zip': 11230},
 {'height': 65, 'zip': 11235},
 {'height': 64, 'zip': 11225},
 {'height': 64, 'zip': 11200},
 {'height': 70, 'zip': 11240},
 {'height': 69, 'zip': 11216},
 {'height': 70, 'zip': 11234}]

### Let's add a list of 3 grades for each member of the list and another item with their computed average

In [52]:
# TODO: first, add grade list to objects

for obj in my_data:
    obj["grades"] = [random.randint(70,100) for cnt in range(3)]

my_data

[{'height': 67, 'zip': 11231, 'grades': [94, 93, 71]},
 {'height': 68, 'zip': 11220, 'grades': [88, 93, 72]},
 {'height': 61, 'zip': 11222, 'grades': [95, 80, 82]},
 {'height': 67, 'zip': 11230, 'grades': [72, 94, 83]},
 {'height': 65, 'zip': 11235, 'grades': [100, 76, 98]},
 {'height': 64, 'zip': 11225, 'grades': [78, 81, 98]},
 {'height': 64, 'zip': 11200, 'grades': [99, 93, 95]},
 {'height': 70, 'zip': 11240, 'grades': [89, 85, 90]},
 {'height': 69, 'zip': 11216, 'grades': [80, 99, 93]},
 {'height': 70, 'zip': 11234, 'grades': [95, 74, 71]}]

### Average

<img src="./imgs/average00.jpg" width="500px" />

<img src="./imgs/average01.jpg" width="500px" />

In [55]:
# TODO: compute and store averages
for obj in my_data:
    obj["avg"] = round(sum(obj["grades"])/len(obj["grades"]),1)

my_data

[{'height': 67, 'zip': 11231, 'grades': [94, 93, 71], 'avg': 86.0},
 {'height': 68, 'zip': 11220, 'grades': [88, 93, 72], 'avg': 84.3},
 {'height': 61, 'zip': 11222, 'grades': [95, 80, 82], 'avg': 85.7},
 {'height': 67, 'zip': 11230, 'grades': [72, 94, 83], 'avg': 83.0},
 {'height': 65, 'zip': 11235, 'grades': [100, 76, 98], 'avg': 91.3},
 {'height': 64, 'zip': 11225, 'grades': [78, 81, 98], 'avg': 85.7},
 {'height': 64, 'zip': 11200, 'grades': [99, 93, 95], 'avg': 95.7},
 {'height': 70, 'zip': 11240, 'grades': [89, 85, 90], 'avg': 88.0},
 {'height': 69, 'zip': 11216, 'grades': [80, 99, 93], 'avg': 90.7},
 {'height': 70, 'zip': 11234, 'grades': [95, 74, 71], 'avg': 80.0}]

### Get highest and lowest average grades

First, get all averages, then sort and get the first and last item on the list, or use `min()`/`max()`

In [57]:
averages = []
for obj in my_data:
    averages.append(obj["avg"])

min(averages), max(averages)

(80.0, 95.7)

### Sort by key values

For example, sort objects by average grade.

We could first get all the average grades and then sort the new list:

In [ ]:
# TODO: get list of avg grades
grades = []

by_grade = sorted(grades)

print("original:\n", grades)
print("sorted:\n", by_grade)

In [58]:
by_average = sorted(averages)
print(averages)
print(by_average)

[86.0, 84.3, 85.7, 83.0, 91.3, 85.7, 95.7, 88.0, 90.7, 80.0]
[80.0, 83.0, 84.3, 85.7, 85.7, 86.0, 88.0, 90.7, 91.3, 95.7]

### But now we don't have the other associated information with each grade.

We want to sort the list while keeping the objects together.

Would be nice to be able to do something like this, just like with a `list`:

In [ ]:
by_grade = sorted(my_data)
print(by_grade)

### Sorting Objects

For lists of objects we have to tell python which values to compare to determine their order.

We do this by defining a key function.

Key functions receive one argument, that can be an object, a list, a class member, anything... and they return one numerical value.

<img src="./imgs/list-of-objects.jpg" width="620px" />

In [64]:
# this key function receives a student-info object with {height, grade, zip, etc}
# and should return just the average grade value
def gradeKey(A):
  return A["avg"]

# then we can just use it when we call sorted()
by_grade = sorted(my_data, key=gradeKey)

by_grade

[{'height': 70, 'zip': 11234, 'grades': [95, 74, 71], 'avg': 80.0},
 {'height': 67, 'zip': 11230, 'grades': [72, 94, 83], 'avg': 83.0},
 {'height': 68, 'zip': 11220, 'grades': [88, 93, 72], 'avg': 84.3},
 {'height': 61, 'zip': 11222, 'grades': [95, 80, 82], 'avg': 85.7},
 {'height': 64, 'zip': 11225, 'grades': [78, 81, 98], 'avg': 85.7},
 {'height': 67, 'zip': 11231, 'grades': [94, 93, 71], 'avg': 86.0},
 {'height': 70, 'zip': 11240, 'grades': [89, 85, 90], 'avg': 88.0},
 {'height': 69, 'zip': 11216, 'grades': [80, 99, 93], 'avg': 90.7},
 {'height': 65, 'zip': 11235, 'grades': [100, 76, 98], 'avg': 91.3},
 {'height': 64, 'zip': 11200, 'grades': [99, 93, 95], 'avg': 95.7}]

In [60]:
# TODO: sort by first assignment grade
def hw01Key(A):
  return A["grades"][0]

by_hw01 = sorted(my_data, key=hw01Key)

by_hw01

[{'height': 67, 'zip': 11230, 'grades': [72, 94, 83], 'avg': 83.0},
 {'height': 64, 'zip': 11225, 'grades': [78, 81, 98], 'avg': 85.7},
 {'height': 69, 'zip': 11216, 'grades': [80, 99, 93], 'avg': 90.7},
 {'height': 68, 'zip': 11220, 'grades': [88, 93, 72], 'avg': 84.3},
 {'height': 70, 'zip': 11240, 'grades': [89, 85, 90], 'avg': 88.0},
 {'height': 67, 'zip': 11231, 'grades': [94, 93, 71], 'avg': 86.0},
 {'height': 61, 'zip': 11222, 'grades': [95, 80, 82], 'avg': 85.7},
 {'height': 70, 'zip': 11234, 'grades': [95, 74, 71], 'avg': 80.0},
 {'height': 64, 'zip': 11200, 'grades': [99, 93, 95], 'avg': 95.7},
 {'height': 65, 'zip': 11235, 'grades': [100, 76, 98], 'avg': 91.3}]

### `min()`/`max()` functions also work with a `key` argument:

In [65]:
# student with highest average grade
max_by_grade = max(my_data, key=gradeKey)

# student with lowest score on first assignment
min_by_hw01 = min(my_data, key=hw01Key)

print(max_by_grade)
print(min_by_hw01)

{'height': 64, 'zip': 11200, 'grades': [99, 93, 95], 'avg': 95.7}
{'height': 67, 'zip': 11230, 'grades': [72, 94, 83], 'avg': 83.0}

## Bigger Lists

## Setup

Include some helper functions and libraries

In [66]:
!wget -q https://github.com/DM-GY-9103-2024F-H/9103-utils/raw/main/src/data_utils.py

zsh:1: command not found: wget

In [ ]:
import matplotlib.pyplot as plt

from data_utils import object_from_json_url

### Load ANSUR 2 Databse

The `JSON` file has a subset of the measurements found [here](https://www.openlab.psu.edu/ansur2/).

In [ ]:
ANSUR_JSON_URL = "https://raw.githubusercontent.com/DM-GY-9103-2024F-H/9103-utils/main/datasets/json/ansur.json"
ansur = object_from_json_url(ANSUR_JSON_URL)

# TODO: look at the data

# Answer:
#   - how many rows/records/items ?
#   - tallest height ?
#   - longest ear ?
#   - average ear length ?

### Let's look at a simpler versions:

In [ ]:
AHW_JSON_URL = "https://raw.githubusercontent.com/DM-GY-9103-2024F-H/9103-utils/main/datasets/json/ansur_age_height_weight_object.json"
ahw_objs = object_from_json_url(AHW_JSON_URL)

# TODO: look at data
# How is it organized ?

In [ ]:
AHW_LIST_URL = "https://raw.githubusercontent.com/DM-GY-9103-2024F-H/9103-utils/main/datasets/json/ansur_age_height_weight.json"
ahws = object_from_json_url(AHW_LIST_URL)

# TODO: look at data
# How is it organized ?

# Answer the following:
#   - how many items ?
#   - how do we access the height of a person ?

## List of Lists

Just like we can put lists inside objects, and objects inside lists, we can also put lists inside lists.

If we want to get to a particular value we have to use $2$ indices instead of using just one:
`list[i][j]`

The first index tells Python which of the sub-lists we want, and the second specifies the item on that list.

<img src="./imgs/list-of-lists00.jpg" width="700px" />

<img src="./imgs/list-of-lists01.jpg" width="700px" />

Sometimes we'll refer to the first index as the row index and the second index as the column index.

That's because if we imagine our list of lists as a 2-dimensional matrix of numbers, the first index tells Python which row we want to access and the second tells which column:

<img src="./imgs/list-of-lists02.jpg" width="700px" />

<img src="./imgs/list-of-lists03.jpg" width="700px" />

### Datasets

We'll see this kind of structure a lot.

It's very common for datasets to be organized by rows/columns, where each column specifies a different *property* (or *feature*) and each row is a different *measurement* (or *record*) of those features.

In our example above, our dataset had $3$ *features* (age, height, weight), and one *record* per person.

<img src="./imgs/datasets00.jpg" width="700px" />

### JSON

It's also common to find datasets specified in the JSON format.

Instead of just being a list of lists with values, each *record* is an object that specifies the names and values of its *features*:

<img src="./imgs/datasets01.jpg" width="700px" />

There are advantages and disadvantages to each. We'll soon look at another way to organize datasets that will make it easier to go from one type to the other if we have to.

## Plots

We can use the [matplot](https://matplotlib.org/stable/api/pyplot_summary.html) library to visualize our data.

In [ ]:
# TODO: get heights
heights = []

plt.plot(heights, 'bo', markersize=2)
plt.show()

In [ ]:
# TODO: get weights
weights = []

plt.plot(weights, 'ro', markersize=2)
plt.show()

In [ ]:
# TODO: plot ages in green
ages = []

### Sorting data can give a different perspective

In [ ]:
sorted_heights = sorted(heights)
plt.plot(sorted_heights, 'bo', markersize=2)
plt.show()

### Histograms

In [ ]:
min_height = min(heights)
max_height = max(heights)
plt.hist(heights, bins=range(min_height, max_height + 1))
plt.grid()
plt.show()

## Correlation

Measurement of how $2$ independent variables (features) are related to each other.

<img src="./imgs/correlation.jpg" width="800px" />

They can have *positive* or *direct* correlation, if an increase in one of the variables comes with an increase in the other.

They can have *negative* or *inverse* correlation if an increase in one of the variables is accompanied by a decrease in the other.

Or, there can be *weak* or *NO* correlation, if a change in one variable doesn't seem to be accompanied by a change in the other.

In [ ]:
# use "column" lists from above to plot scatter plot
plt.scatter(ages, heights, marker='o', alpha=0.2)
plt.xlabel("age")
plt.ylabel("height")
plt.show()

In [ ]:
# TODO plot other combinations of variables
# TODO: any correlation ?